
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="list">
        <ion-icon name="list"></ion-icon>
        <ion-label>List</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="slide" >
        <ion-icon name="albums"></ion-icon> 
        <ion-label>Slide</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
