<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="dark" (clik)="openCamera()">Open camera</ion-button>
</ion-content>
