<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button [text]="'Atras'" defaultHref="/list"></ion-back-button>
      </ion-buttons>
    <ion-title>edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Animal name</ion-label>
    <ion-input [(ngModel)]="nameani"></ion-input>
  </ion-item>
  <ion-button color="primary" (click)="newname()">Primary</ion-button>

</ion-content>
