
<ion-app>

<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
          <ion-back-button [text]="'Atras'" defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="primary">
          <ion-button (click)="toggleReorder()">Toggle</ion-button>
      </ion-buttons>
    <ion-title>DAWANIMALS</ion-title>
    
  </ion-toolbar> 
  
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
      
  <ion-list >
    <ion-reorder-group id="reorder">

      <ion-item-sliding *ngFor="let juanra of animales;let i = index ">
    
        <ion-item >
          <ion-avatar (click)="onClickanimal(juanra)"  slot="start">
            <img src="{{juanra.imagen}}">
          </ion-avatar>
          <ion-label>
           <h2>{{juanra.nombre}}</h2>
           <h3>{{textsonido}}</h3>
          </ion-label>
          <ion-icon (click)="onClickaudio(animales)" name="play"></ion-icon>
          <ion-reorder slot="end"></ion-reorder>

          
        </ion-item>
        <ion-item-options side="start" color="danger" (click)="onClickeditar(animal)">
          <ion-icon slot="top" name="create"></ion-icon>
          Edit
        </ion-item-options>
        <ion-item-options side="end" color="danger" (click)="onClickborrar(i)">
          <ion-icon slot="top" name="trash"></ion-icon>
          
        </ion-item-options>

      </ion-item-sliding>
    </ion-reorder-group>

  </ion-list>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" >
    <ion-fab-button color="danger" (click)="onClickadd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  

</ion-content>
</ion-app>

