
     <ion-content padding>
      <ion-img src="*"></ion-img>
 
       <ion-item>
         <ion-label color="{{colore}}">Correo</ion-label>
         <ion-input (keyup)="chekuser()" [(ngModel)]="textUsername" type="text"  disabled="{{disableInput}}"></ion-input>
       </ion-item>
       <ion-item>
         <ion-label color="{{colore2}}">Contraseña</ion-label>
         <ion-input (keyup)="chekuser2()" [(ngModel)]="textPass" type="password" ></ion-input>
       </ion-item>
       <ion-button (click)="onClickboton()" expand="block">Login</ion-button>
       <p class="p"><a  (click)="onClickforgot()">{{textForgot}}</a></p>
     
     </ion-content>
 