<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
          <ion-back-button [text]="'Atras'" defaultHref="/home"></ion-back-button>
      </ion-buttons>
     
    <ion-title>DAWANIMALS</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content fullscreen padding scroll-y="false">
  <ion-slides>

    <ion-slide *ngFor="let juanra of animales;">
      <img src="{{juanra.imagen}}"/>
      <h2>{{juanra.nombre}}</h2>
      <p>Maman</p>
    </ion-slide>
  </ion-slides>

  
</ion-content>
