<ion-header>
  <ion-toolbar>
    <ion-title>add</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [text]="'Atras'" defaultHref="/list"></ion-back-button>
  </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Animal name</ion-label>
    <ion-input [(ngModel)]="nameani"></ion-input>
  </ion-item>
  <ion-button color="primary" (click)="newname()">Primary</ion-button>
<ion-row>
  <ion-col>
    <ion-item>
      <div>
        <img src="" alt="">
      </div>
    </ion-item>
  </ion-col>
  <ion-col>
    <ion-item>
      <div>
        <img src="" alt="">
      </div>
    </ion-item>
  </ion-col>
  <ion-col>
    <ion-item>
      <div>
        <img src="" alt="">
      </div>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-item>
      <div>
        <img src="" alt="">
      </div>
    </ion-item>
  </ion-col>
  <ion-col>
    <ion-item>
      <div>
        <img src="" alt="">
      </div>
    </ion-item>
  </ion-col>
  <ion-col>
    <ion-item>
      <div>
        <img src="" alt="">
      </div>
    </ion-item>
  </ion-col>
</ion-row>
</ion-content>
